{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="{{ user.profile.display_avatar_url }}" class="rounded-circle" width="150" height="150" style="object-fit: cover;" alt="User Avatar">
                        <h3 class="mt-3">{{ user.username }}</h3>
                    </div>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Profile Information</legend>
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}
                        </fieldset>
                        <div class="form-group text-center mt-4">
                            <button class="btn btn-primary" type="submit">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}