{% extends 'base.html' %}
{% load listings_tags %}
{% load static %}

{% block content %}
<div class="container my-5 profile-container">
    <div class="row gx-lg-5">
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="profile-info-card text-center">
                <img src="{% if profile_user.profile.avatar %}{{ profile_user.profile.avatar.url }}{% else %}{% static 'images/default_avatar.svg' %}{% endif %}" class="avatar-lg mb-3" style="width: 150px; height: 150px;" alt="{{ user.username }}'s profile image">
                <h4 class="profile-name">{{ profile_user.get_full_name}}</h4>
              {% if seller_average_rating %}
                <div class="text-warning my-2">
                    <i class="fas fa-star"></i>
                    <span class="ms-1 fw-bold">{{ seller_average_rating|floatformat:1 }}</span>
                    <span class="text-muted small">(average rating)</span>
                </div>
                {% else %}
                <p class="text-muted my-2 small">No ratings yet</p>
                {% endif %}
                <p class="text-muted small mb-1">
                     {% if profile_user.profile.phone %}
                        {{ profile_user.profile.full_phone_number }}
                    {% else %}
                        No phone provided
                    {% endif %}
                </p>
                <p class="profile-bio">{{ profile_user.profile.bio|default:"No bio yet."|linebreaksbr }}</p>
            </div>

        </div>
        <div class="col-lg-8">
            <h3>Listings by {{profile_user.get_full_name }}</h3>
            <hr>
            <div id="listings-container" class="listing-grid">
                {% include 'listings/partials/listings_grid.html' with listings=user_listings %}
            </div>
        </div>
    </div>
</div>
{% endblock %}