{% load listings_tags %}

{% for listing in listings %}
<div class="listing-card position-relative">
    <a href="{{ listing.get_absolute_url }}">
        <div class="listing-card-image-container">
            {% if listing.images.first %}
                <img src="{{ listing.images.first.image.url }}" class="listing-card-image" alt="{{ listing.title }}" loading="lazy">
            {% else %}
                <div class="cart-item-image-placeholder">
                    <span>No Image</span>
                </div>
            {% endif %}
        </div>
    </a>

   {% if user.is_authenticated and user != listing.seller %}
        <button class="btn save-button p-0" data-url="{% url 'listings_api:toggle_save_listing' pk=listing.pk %}">
            <i class="{% if listing.pk in saved_listing_ids %}fas fa-heart text-danger{% else %}far fa-heart{% endif %} fa-lg"></i>
        </button>
    {% endif %}

    <div class="listing-card-body">
        <h5 class="listing-title listing-title--card">{{ listing.title }}</h5>
        <p class="listing-card-price">₱{{ listing.price|philippine_currency }}</p>

        {% if listing.average_rating %}
        <div class="d-flex align-items-center">
            <strong class="me-1 text-warning">{{ listing.average_rating|floatformat:1 }}</strong>
            <i class="fas fa-star text-warning"></i>
        </div>
        {% else %}
        <p class="text-muted small mb-0">No ratings yet</p>
        {% endif %}
    </div>

    <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between align-items-center px-3 py-2">
        <div>
            <img src="{{ listing.seller.profile.display_avatar_url }}" class="avatar-lg" alt="{{ listing.seller.username }}'s avatar">
            <small class="text-muted ms-2">{{ listing.seller.get_full_name }}</small>
        </div>
    </div>
</div>
{% empty %}
<p class="text-center text-muted">No listings found that match your criteria.</p>
{% endfor %}